////////////////
// Variables //
///////////////

$titleFont: 'Pompiere', cursive;
$textFont: 'Pangolin', cursive;

$lightestColor: #F7F0F5;
$lightMidColor: #DECBB7;
$middleColor: #8F857D;
$accentColor:#fa7000;
$darkestColor: #433633;



html {
    font-size: 125%;
    font-family: $textFont;
    color: #F7F0F5;
    background-color: $darkestColor;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    text-align: center;
    .button {
        background: $accentColor;
        height: 80px;
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $textFont;
        color: $lightestColor;
        position: relative;
        font-size: 1.5rem;
        transition: background 0.5s;
    }
}

.button:hover {
    background: rgb(89, 238, 134);
    color: $darkestColor;
}

.button:before {
    content: "";
    height: 30px;
    width: 30px;
    background: $darkestColor;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 0 0 100% 0;
}

.button:after {
    content: "";
    height: 30px;
    width: 30px;
    background: $darkestColor;
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-radius: 100% 0 0 0;
}
