a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Pangolin", cursive;
  color: #F7F0F5;
  background-color: #433633;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  text-align: center;
}

a .button {
  background: #fa7000;
  height: 80px;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Pangolin", cursive;
  color: #F7F0F5;
  position: relative;
  font-size: 1.5rem;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.button:hover {
  background: #59ee86;
  color: #433633;
}

.button:before {
  content: "";
  height: 30px;
  width: 30px;
  background: #433633;
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 0 0 100% 0;
}

.button:after {
  content: "";
  height: 30px;
  width: 30px;
  background: #433633;
  position: absolute;
  bottom: -5px;
  right: -5px;
  border-radius: 100% 0 0 0;
}

header {
  background: #F7F0F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 2000px;
}

header .teacup {
  max-width: 30%;
  margin: 30px;
}

header .wrapper {
  margin: 10px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #433633;
}

.blackBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 5px solid #F7F0F5;
  margin: 20px;
  position: relative;
}

header p, header a {
  margin-top: 50px;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

h1 {
  font-family: "Pompiere", cursive;
  font-size: 7rem;
  text-align: center;
}

.blackBoard::before {
  content: "";
  height: 50px;
  width: 50px;
  background: #433633;
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 0 0 100% 0;
  border-right: 5px solid #F7F0F5;
  border-bottom: 5px solid #F7F0F5;
}

.blackBoard::after {
  content: "";
  height: 50px;
  width: 50px;
  background: #433633;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 0 0 0 100%;
  border-left: 5px solid #F7F0F5;
  border-bottom: 5px solid #F7F0F5;
}

.pseudoElement::after {
  content: "";
  height: 50px;
  width: 50px;
  background: #433633;
  position: absolute;
  bottom: -5px;
  right: -5px;
  border-radius: 100% 0 0 0;
  border-left: 5px solid #F7F0F5;
  border-top: 5px solid #F7F0F5;
}

.pseudoElement::before {
  content: "";
  height: 50px;
  width: 50px;
  background: #433633;
  position: absolute;
  bottom: -5px;
  left: -5px;
  border-radius: 0 100% 0 0;
  border-right: 5px solid #F7F0F5;
  border-top: 5px solid #F7F0F5;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .displayBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 70%;
  border: 5px solid #F7F0F5;
}

main .displayBox .result {
  margin-bottom: 50px;
}

.displayBox::before {
  content: "";
  height: 50px;
  width: 50px;
  background: #433633;
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 0 0 100% 0;
  border-right: 5px solid #F7F0F5;
  border-bottom: 5px solid #F7F0F5;
}

.displayBox::after {
  content: "";
  height: 50px;
  width: 50px;
  background: #433633;
  position: absolute;
  bottom: -5px;
  right: -5px;
  border-radius: 100% 0 0 0;
  border-left: 5px solid #F7F0F5;
  border-top: 5px solid #F7F0F5;
}

input, label {
  width: 70%;
}

label {
  margin-top: 50px;
  text-align: center;
}

input {
  background-color: #F7F0F5;
  height: 50px;
  border: 0;
  margin-top: 50px;
  text-align: center;
}

main a {
  margin: 50px;
  width: 50%;
}

.result {
  max-width: 70%;
  max-height: 200px;
  overflow-x: auto;
}

footer {
  background: #DECBB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
  color: #fa7000;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer ul li {
  font-size: 3rem;
  margin-bottom: 20px;
}

nav {
  width: 50%;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  body {
    font-size: 0.7rem;
  }
  header .wrapper {
    width: 100%;
    margin: 0;
  }
  main .displayBox {
    border: 0px solid #433633;
    width: 100%;
    max-width: 100%;
  }
  .displayBox::before,
  .displayBox::after {
    display: none;
  }
  input {
    font-size: 0.5rem;
  }
}

@media (max-width: 1155px) {
  .teacup {
    -webkit-animation: none !important;
            animation: none !important;
  }
}

@-webkit-keyframes hop {
  25% {
    padding-bottom: 100px;
  }
  50% {
    rotate: 10deg;
  }
  75% {
    padding-bottom: 50px;
  }
}

@keyframes hop {
  25% {
    padding-bottom: 100px;
  }
  50% {
    rotate: 10deg;
  }
  75% {
    padding-bottom: 50px;
  }
}

.teacup {
  -webkit-animation: hop 3s linear infinite;
          animation: hop 3s linear infinite;
}
